<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>Create page</title>
</head>
<body>
<h1>Add user</h1>
<form action="#" method="POST" th:action="@{/admin/new}" th:object="${user}">
    <label for="username">Name: </label>
    <input type="text" th:field="*{username}" id="username" required/>

    <br/>
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br>

    <label for="surname">Surname: </label>
    <input type="text" th:field="*{surname}" id="surname" required/>
    <br/>

    <label for="phoneNumber">Phone number: </label>
    <input type="number" th:field="*{phoneNumber}" id="phoneNumber" required/>
    <br/>

    <select size="2" multiple="multiple" name="roles" id="roles">
        <option th:align="center" value="ADMIN">ADMIN</option>
        <option th:align="center" selected value="USER">USER</option>
    </select>
    <br/>

    <input type="submit" class="buttonAdd" value="Add"/>


</form>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>